{

;; CONFIG ENTRIES:

bobtailbot.core/brain :zinc  #_:general

#_bobtailbot.core/greeting #_"Hello.  Let's chat."

#_bobtailbot.core/host #_"127.0.0.1"

#_bobtailbot.core/irc-channel #_"#bobtailbot"

#_bobtailbot.core/nick #_"bobtailbot"

#_bobtailbot.core/port #_6667

bobtailbot.core/user-interface :irc #_:irc

}
