{

;; CONFIG ENTRIES:

#_bobtailbot.core/greeting #_"Hello.  Let's chat."

bobtailbot.core/host "chat.freenode.net" #_"127.0.0.1"

#_bobtailbot.core/irc-channel #_"#whateverhey"

#_bobtailbot.core/nick #_"bobtailbot"

#_bobtailbot.core/parsemode #_:example-shopping

#_bobtailbot.core/port #_6667

bobtailbot.core/user-interface :repl #_:irc

}
