#{#bobtailbot.brains.general.brain.Triple{:name "my-fact", :affirm true, :subj :Jack_Sparrow, :verb :loves, :obj :Mary} #bobtailbot.brains.general.brain.Triple{:name "fact-1", :affirm true, :subj :Joe_Smith, :verb :loves, :obj :Liz_Taylor} #bobtailbot.brains.general.brain.Triple{:name "my-fact", :affirm true, :subj :Bill_The_Great, :verb :loves, :obj :Mary} #bobtailbot.brains.general.brain.Triple{:name "my-fact", :affirm true, :subj :Mary, :verb :loves, :obj :John_Wayne}}