#{#bobtailbot.brains.general.brain.Triple{:name "my-fact", :affirm true, :subj "Jack", :verb "loves", :obj "Anna"} #bobtailbot.brains.general.brain.Triple{:name "my-fact", :affirm true, :subj "Peter", :verb "loves", :obj "Anna"} #bobtailbot.brains.general.brain.Triple{:name "my-fact", :affirm true, :subj "Mary", :verb "loves", :obj "Gary Cooper"} #bobtailbot.brains.general.brain.Triple{:name "fact-1", :affirm true, :subj "Joe Smith", :verb "loves", :obj "Liz Taylor"} #bobtailbot.brains.general.brain.Triple{:name "my-fact", :affirm true, :subj "John Wayne", :verb "loves", :obj "Mary"} #bobtailbot.brains.general.brain.Triple{:name "my-fact", :affirm true, :subj "Mary", :verb "loves", :obj "John Wayne"}}