"Gary Cooper loves ?x when ?x loves Gary Cooper ;John Wayne loves ?x when ?x loves John Wayne;Anna loves Charles when Peter loves Anna;Anna loves Charles when Jack loves Anna;Anna loves Charles when Jack loves Anna;"