#{{:sing "thing", :plural "things"} {:sing "woman", :plural "women"}
  {:sing "animal", :plural "animals"}
  {:sing "person", :plural "people"}
  {:sing "xxthing", :plural "xxthings"} {:sing "man", :plural "men"}
  {:sing "object", :plural "objects"}}
