#{#bobtailbot.brains.general.brain.Purchase{:cost 90, :item :widget} #bobtailbot.brains.general.brain.Order{:year 2013, :month "august", :day 20} #bobtailbot.brains.general.brain.Purchase{:cost 120, :item :widget} #bobtailbot.brains.general.brain.Purchase{:cost 20, :item :gizmo} #bobtailbot.brains.general.brain.Customer{:status "gold"}}