#{{:inf "breath", :past "breathed", :pp "breathed", :er "breather", :ing "breathing", :pres3 "breathes"} {:inf "walk", :past "walked", :pp "walked", :er "walker", :ing "walking", :pres3 "walks"} {:inf "love", :past "loved", :pp "loved", :er "lover", :ing "loving", :pres3 "loves"} {:inf "drink", :past "drank", :pp "drunk", :er "drinker", :ing "drinking", :pres3 "drinks"} {:inf "eat", :past "ate", :pp "eaten", :er "eater", :ing "eating", :pres3 "eats"} {:inf "talk", :past "talked", :pp "talked", :er "talker", :ing "talking", :pres3 "talks"}  {:inf "slap", :past "slapped", :pp "slapped", :er "slapper", :ing "slapping", :pres3 "slaps"} {:inf "hate", :past "hated", :pp "hated", :er "hater", :ing "hating", :pres3 "hates"} {:inf "kiss", :past "kissed", :pp "kissed", :er "kisser", :ing "kissing", :pres3 "kisses"}}
